@page "/sobre/{id}"
@model Models.ModelEtc
@{
    ViewData["Title"] = "Sobre";
    
    int Go = 0;
    if (RouteData != null)
    {
        Go = (RouteData.Values["id"] != null) ? Int32.Parse(RouteData.Values["id"].ToString()) : 0;
    }

    ViewBag.Id = (int)Go;
}

<partial name="../Cabecalho/_BarraNav" />

<script src="~/js/site.js"></script>
<script>
    var go = @Go;
    logOn(go);
</script>

<div class="mb-5 row">
    <div class="col-8">
        <div class="card border border-white">
            <h1 class="fs-1 card-title"> @ViewData["Title"]</h1>
            <div class="card-body bg-primary-subtle rounded">
                <p class="card-text">
                    <strong>
                        a origem desta ambição
                    </strong>
                </p>
                <blockquote class="blockquote mb-0">
                    <p>
                        Situação de Aprendizagem da turma PSII/2023 para o 2º semestre,
                        onde foram abordadas as unidades curriculares “criação e modelagem
                        de banco de dados” e “desenvolvimento de sistemas”.
                    </p>
                </blockquote>

                <p class="mt-5 card-text">
                    <strong>
                        a mascote do site
                    </strong>
                </p>
                <blockquote class="blockquote mb-0">
                    <p>
                        É fácil se enganar entre em um tucano e a verdadeira inspiração da logo! Para sanar esta dúvida, aqui está o carinha que faz a marca acontecer:
                    </p>
                    <p>
                        <partial name="./_Mascote" />
                    </p>

                    <p>Acima vemos um casal de maravilhosos <i>araçaris</i>! São como tucanos em miniaturas, estes bichinhos merecem ser lembrados!</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="mb-5 row">
    <div class="col-8">

    </div>
</div>