@{
    string topTemaVerdeMar = "Verde-Mar";
    string topTemaSulphur = "Sulphur";
    string topTemaRustico = "Rústico";
    string topTemaWindows97 = "Windows 97";
}

<div class="border border-primary rounded">
    <div class="text-start m-1">
        <div class="row m-2">
            <div class="card border border-0 col">
                <div class="card-body row">
                    <h5 class="card-title pb-2 row">@(topTemaVerdeMar) | autor: NaN</h5>
                    <strong class="row">Descrição:</strong>
                    <p class="row">
                        Texto.
                    </p>
                    <p>
                        <img height="175" width="350">
                    </p>
                    <span class="text-muted row">postado em: 00/00/0000 | última vez atualizado: 00/00/0000</span>
                    <div class="m-3">
                        <h5 class="card-title pb-2 row">@(topTemaVerdeMar) | autor: NaN</h5>
                        <strong class="row">Descrição:</strong>
                        <p class="row">
                            Texto.
                        </p>
                        <p>
                            <img height="175" width="350">
                        </p>
                        <span class="text-muted row">postado em: 00/00/0000 | última vez atualizado: 00/00/0000</span>
                    </div>
                    <div class="m-3">
                        <h5 class="card-title pb-2 row">@(topTemaRustico) | autor: NaN</h5>
                        <strong class="row">Descrição:</strong>
                        <p class="row">
                            Texto.
                        </p>
                        <p>
                            <img height="175" width="350">
                        </p>
                        <span class="text-muted row">postado em: 00/00/0000 | última vez atualizado: 00/00/0000</span>
                    </div>
                    <div class="m-3">
                        <h5 class="card-title pb-2 row">@(topTemaWindows97) | autor: NaN</h5>
                        <strong class="row">Descrição:</strong>
                        <p class="row">
                            Texto.
                        </p>
                        <p>
                            <img height="175" width="350">
                        </p>
                        <span class="text-muted row">postado em: 00/00/0000 | última vez atualizado: 00/00/0000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>