<div class="overflow-auto" style="max-height: 300px;">
    <div class="list-group d-flex flex">
        <div class="row">
            <div class="card me-2 border border-2 border-dark-subtle" style="max-width: 14rem;">
                <div class="card-header bg-secondary bg-opacity-50">
                    <h5 class="text-center"><strong>Backlog</strong></h5>
                </div>
                <p class="ps-3"><strong>Descrição:</strong><br>
                <p class="ps-3 pe-3 card-text" style="text-align: justify !important;">
                    Onde todas as ideias são rascunhadas. Todos os membros têm acesso.
                </p>
                <p class="ps-3"><strong>Colunas:</strong><br>
                <ul class="list-group">
                    <li class="ps-3 list-group-item">Brainstorming</li>
                    <li class="ps-3 list-group-item">Objetivos</li>
                </ul>
                </p>
            </div>
            <div class="card border border-2 border-dark-subtle" style="max-width: 14rem;">
                <div class="ps-3 card-header bg-secondary bg-opacity-50">
                    <h5 class="text-center"><strong>Ferramentas</strong></h5>
                </div>
                <p class="ps-3"><strong>Descrição:</strong><br>
                <p class="ps-3 pe-3 card-text" style="text-align: justify !important;">
                    Para gestão das ferramentas entre todos os membros da equipe.
                </p>
                <p class="ps-3"><strong>Colunas:</strong><br>
                <ul class="list-group">
                    <li class="ps-3 list-group-item">Nome</li>
                    <li class="ps-3 list-group-item">Uso</li>
                    <li class="ps-3 list-group-item">Função</li>
                    <li class="ps-3 list-group-item">Tipo</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="card border border-2 border-dark-subtle" style="max-width: 14rem;">
                <div class="ps-3 card-header bg-secondary bg-opacity-50">
                    <h5 class="text-center"><strong>Entrevistas</strong></h5>
                </div>
                <p class="ps-3"><strong>Descrição:</strong><br>
                <p class="ps-3 pe-3 card-text" style="text-align: justify !important;">
                    Uma agenda simples de acesso rápido para entrevistas com o cliente.
                </p>
                <p class="ps-3"><strong>Colunas:</strong><br>
                <ul class="list-group">
                    <li class="ps-3 list-group-item">Tema</li>
                    <li class="ps-3 list-group-item">Data</li>
                    <li class="ps-3 list-group-item">Conclusão</li>
                </ul>
                </p>
            </div>
            <div class="card border border-2 border-dark-subtle" style="max-width: 14rem;">
                <div class="ps-3 card-header bg-secondary bg-opacity-50">
                    <h5 class="text-center"><strong>Documentação</strong></h5>
                </div>
                <p class="ps-3"><strong>Descrição:</strong><br>
                <p class="ps-3 pe-3 card-text" style="text-align: justify !important;">
                    Um local para adicionar as regras de negócio, requisitos funcionais e
                    não-funcionais, notas da versão e anexar a documentação em si.
                </p>
                <p class="ps-3"><strong>Colunas:</strong><br>
                <ul class="list-group">
                    <li class="ps-3 list-group-item">Detalhe Téc.</li>
                    <li class="ps-3 list-group-item">Descrição</li>
                    <li class="ps-3 list-group-item">Categoria</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>