<button type="button" class="btn btn-secondary col-1" data-bs-dismiss="modal">X</button>
<p><input type="text" class="form-control" id="" placeholder="Título do projeto"></p>
<p>
<div class="form-floating">
    <textarea class="form-control h-100"
        placeholder="Escreva uma introdução para que os convidados tenham uma visão do projeto."
        id="floatingTextarea"></textarea>
    <label for="floatingTextarea"><span class="text-muted">Descrição</span></label>
</div>
</p>
<p aria-describedby="idQuaIni">Quadros iniciais:<br>
    <small id="idQuaIni" class="text-muted">estes são os quadros básicos fixos em que o projeto se
        baseia</small>
</p>

