<div class="modal" id="ModalNovoProjeto">
    <div class="modal-dialog card">
        <div class="modal-content card-body m-1">
            <partial name="Novo/_NovoIntro.cshtml" />
            <partial name="Novo/_NovoConteudo.cshtml" />
        </div>
    </div>
</div>