<form action="/" method="post">
    <div class="d-flex justify-content-between mb-3">
        <button type="button" class="btn btn-danger col-1" data-bs-dismiss="modal">
            <i class="bi bi-x-lg"></i>
        </button>
        <button type="submit" class="d-none"></button>
        <a  class="btn btn-success col-1" asp-page="../Projetos/projetos/@ViewBag.Id/0"><i class="bi bi-chevron-right"></i></a>
    </div>
    <p><input type="text" class="form-control" id="" placeholder="Título do projeto" required></p>
    <p>
        <div class="form-floating">
            <textarea class="form-control h-100"
                      placeholder="Escreva uma introdução para que os convidados tenham uma visão do projeto."
                      id="floatingTextarea" required></textarea>
            <label for="floatingTextarea"><span class="text-muted">Descrição</span></label>
        </div>
    </p>
    <p>
        Quadros iniciais:<br>
        <small class="text-muted">estes são os quadros básicos fixos em que o projeto se baseia</small>
    </p>
</form>