<nav class="ms-5 p-1 text-center navbar navbar-expand-lg navbar-white bg-white">
    <div class="container-fluid">
        <h1 class="text-muted fs-6 col-2">Acesso rápido</h1>
        <ul class="nav navbar-nav col-10 d-flex justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link px-5 btn btn-outline-primary rounded-0" id="backlog-tab" data-bs-toggle="tab" data-bs-target="#backlog"
                        type="button" role="tab">
                    Backlog
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link px-5 btn btn-outline-primary rounded-0" id="tools-tab" data-bs-toggle="tab" data-bs-target="#tools"
                        type="button" role="tab">
                    Ferramentas
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link px-5 btn btn-outline-primary rounded-0" id="ux-tab" data-bs-toggle="tab" data-bs-target="#ux"
                        type="button" role="tab">
                    Entrevistas
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link px-5 btn btn-outline-primary rounded-0" id="docs-tab" data-bs-toggle="tab" data-bs-target="#docs"
                        type="button" role="tab">
                    Documentação
                </button>
            </li>
        </ul>
    </div>
</nav>