<!-- project options -->
<div class="row mb-3 col-3">
    <button type="button" class="btn btn-lg btn-primary" data-bs-target="#offcanvasTemas"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Temas">
        <i class="bi bi-palette"></i>
    </button>
</div>
<div class="row mb-3 col-3">
    <button type="button" class="btn btn-lg btn-primary" data-bs-target="#offcanvasCargos"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Cargos">
        <i class="bi bi-bookmark-star-fill"></i>
    </button>
</div>
<div class="row mb-3 col-3">
    <button type="button" class="btn btn-lg btn-primary" data-bs-target="#offcanvasMembros"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Membros">
        <i class="bi bi-people-fill"></i>
    </button>
</div>
<div class="row mb-3 col-3">
    <button type="button" class="btn btn-lg btn-primary" data-bs-target="#offcanvasQuadros"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Quadros">
        <i class="bi bi-collection-fill"></i>
    </button>
</div>
<div class="row mb-3 col-3">
    <button type="button" class="btn btn-lg btn-primary" data-bs-target="#offcanvasPrazos"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Prazos">
        <i class="bi bi-stopwatch"></i>
    </button>
</div>