 <!-- user options -->
<div class="row mb-3">
    <button type="button" class="btn btn-lg btn-primary" data-bs-target="#offcanvasTemas"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Perfil"
            data-bs-original-title="" title="">
        <i class="bi bi-person-gear"></i>
    </button>
</div>
<div class="row mb-3">
    <button type="button" class="btn btn-lg btn-primary" data-bs-target="#offcanvasCargos"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Fechar projeto"
            data-bs-original-title="" title="">
        <i class="bi bi-lock"></i>
    </button>
</div>
<div class="row mb-3">
    <button type="button" class="btn btn-lg btn-primary" data-bs-target="#offcanvasMembros"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Compartilhar"
            data-bs-original-title="" title="">
        <i class="bi bi-share"></i>
    </button>
</div>
<div class="row mb-3">
    <button type="button" class="btn btn-lg btn-primary" data-bs-target="#offcanvasQuadros"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Favoritar"
            data-bs-original-title="" title="">
        <i class="bi bi-bookmark-star"></i>
    </button>
</div>