<div class="mb-5 row">
    <div class="col-8">
        <div class="card border border-white">
            <div class="card-body bg-primary-subtle">
                <h1 class="fs-1 card-title">construindo organogramas do zero</h1>
                <p class="card-text">
                    <strong>
                        Um meio fácil, prático e rápido de estabelecer uma base para seu
                        projeto!
                    </strong>
                </p>
                <blockquote class="blockquote mb-0">
                    <p>
                        "Busquei um ambiente agradável a todos que desejassem iniciar um projeto, seja ele qual
                        for, com ou sem qualquer conhecimento em informática. Confesso que é um desafio do início
                        até
                        atualmente, mas é recompensador ver as possibilidades se tornando realidade para tanta
                        gente!"
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            Trevojan, CEO do Parapuãma,
                        </cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="mt-4 d-flex justify-content-center">
            <div id="carouselExampleAutoplaying" style="height: 300px; width: 600px;"
                 class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <partial name="_MissaoPng" />
                    </div>
                    <div class="carousel-item">
                        <partial name="_MissaoPng" />
                    </div>
                    <div class="carousel-item">
                        <partial name="_MissaoPng" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card border border-white">
            <div class="card-body">
                <div class="bg-primary-subtle mb-1">
                    <h3 class="card-title">convide seus colegas</h3>
                    <p class="card-text">Uma equipe reunida faz toda a diferença!</p>
                </div>
                <ul class="col bg-primary rounded">
                    <li class="row mb-4 p-2 pt-3">
                        <a class="text-white align-middle link-underline link-underline-opacity-0" href="#">
                            <i class="bi bi-instagram fs-4"></i> Instagram
                        </a>
                    </li>
                    <li class="row mb-4 p-2">
                        <a class="text-white align-middle link-underline link-underline-opacity-0" href="#">
                            <i class="bi bi-twitter-x fs-4"></i> Twitter
                        </a>
                    </li>
                    <li class="row mb-4 p-2">
                        <a class="text-white align-middle link-underline link-underline-opacity-0" href="#">
                            <i class="bi bi-reddit fs-4"></i> Reddit
                        </a>
                    </li>
                    <li class="row mb-4 p-2">
                        <a class="text-white align-middle link-underline link-underline-opacity-0" href="#">
                            <i class="bi bi-discord fs-4"></i> Discord
                        </a>
                    </li>
                    <li class="row mb-4 p-2 pb-4">
                        <a class="text-white align-middle link-underline link-underline-opacity-0" href="#">
                            <i class="bi bi-github fs-4"></i> Github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="mb-5 row">
    <div class="col-8">

    </div>
</div>