<div class="mb-5 row">
    <div class="col-4">
        <div class="card border border-0">
            <div class="card-body bg-primary-subtle">
                <h3 class="card-title"><strong>Conheça nossos parceiros:</strong></h3>
                <span class="m-5 row fs-4"><i class="bi bi-app"> Senai</i></span>
                <span class="m-5 row fs-4"><i class="bi bi-app"> Bosch</i></span>
            </div>
            <div class="card-body bg-primary-subtle">
                <h3 class="card-title"><strong>Fale conosco!</strong></h3>
                <span class="m-5 row fs-4"><i class="bi bi-whatsapp"> E-mail</i></span>
                <span class="m-5 row fs-4"><i class="bi bi-envelope-at"> Whatsapp</i></span>
            </div>
        </div>
    </div>
</div>