@page "/"
@using WebApp.Controls
@model Controlador
@{
    ViewData["Title"] = "Inicio";
}

<div class="mb-5 row justify-content-center align-items-center g-2">
    <div class="ms-4 col col-3">
        <partial name="Inicio/_InicioLogo" />
    </div>
    <div class="col col-7">
        <partial name="Inicio/_InicioBemVindo" />
    </div>
</div>
    <partial name="Inicio/_InicioRecursos" />
<div class="mb-5 row justify-content-center align-items-center g-2">
</div>

<div class="mb-5 row justify-content-center align-items-center g-2">
    <partial name="Inicio/_InicioApresentacao" />
</div>

<div class="mb-5 row justify-content-center align-items-center g-2">
    <partial name="Inicio/_InicioParcerias" />
</div>

<!--<partial name="Inicio/Abas/_AbasInicio" /> -->