@page "/"
@using WebApp.Controls
@model ControlInicio
@{
    ViewData["Title"] = "Inicio";
    Database.Out @out = new();
    Database.Gather g = new();
}

<script src="~/js/site.js"></script>
<script>
    var go = String("False").toLowerCase();
    logOn(go);

    console.log("chegou até aqui.");
</script>

<div class="mb-5 row justify-content-center align-items-center g-2">
    <div class="ms-4 col col-3">
        <partial name="Inicio/_InicioLogo" />
    </div>
    <div class="col col-7">
        <partial name="Inicio/_InicioBemVindo" />
    </div>
</div>
<partial name="Inicio/_InicioRecursos" />
<div class="mb-5 row justify-content-center align-items-center g-2">
</div>

<div class="mb-5 row justify-content-center align-items-center g-2">
    <partial name="Inicio/_InicioApresentacao" />
</div>

<div class="mb-5 row justify-content-center align-items-center g-2">
    <partial name="Inicio/_InicioParcerias" />
</div>