<div class="container-fluid d-flex justify-content-center pt-5">
        <div class="card col-9">
            <div class="card-body">
                <div class="text-center">
                    <h4 id="idCardNovaConta" class="card-title pt-2" aria-describedby="idSubNovaConta">Criar Nova Conta</h4>
                    <small id="idSubNovaConta" class="pt-2 pb-4 text-muted">Insira os dados para criar sua conta!</small>
                </div>
                <div class="container d-flex justify-content-center mt-5">
                    <form class="col-6" method="POST">
                        <div class="mb-3 row">
                            <input type="text" class="form-control text-center" id="idNovoLogin" placeholder="Login inédito">
                        </div>
                        <div class="mb-1 row">
                            <input type="password" class="form-control text-center" id="idNovaSenha1" placeholder="Uma senha forte">
                        </div>
                        <div class="mb-1 row">
                            <input type="password" class="form-control text-center" id="idNovaSenha2" placeholder="Repita sua senha">
                        </div>
                        <div class="text-center row text-black-50 mt-3 mb-4 user-select-none">
                            <span>________________________________________________________________</span>
                        </div>
                        <div class="mb-3 row">
                            <input type="text" class="form-control text-center" id="idNovoApelido" placeholder="Apelido único (opcional)" aria-describedby="idSubNovoApelido">
                            <small id="idSubNovoApelido" class="pt-2 text-muted text-center">
                                O apelido é como você será lembrado pelos outros. <br>
                                Deixe em branco para definir como seu login!
                            </small>
                        </div>
                        <div class="text-center row text-black-50 mb-4 user-select-none">
                            <span>________________________________________________________________</span>
                        </div>
                        <div class="col">
                            <div class="mt-3 mb-3 row">
                                <a href="#" class="btn btn-outline-primary">
                                    Continuar
                                </a>
                            </div>
                            <div class="mb-3 row">
                                <a href="#" class="btn btn-outline-success">
                                    Já tenho conta
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>