@model InicioModel
@{
    String descDevSoft = Model.ConteudoEscopo("devsoft");
    //String descPalestra = Model.ConteudoEscopo("palestra");
    //String descMarket = Model.ConteudoEscopo("a");
    //String descAula = Model.ConteudoEscopo();
    //String descStats = Model.ConteudoEscopo();
}

<div class="card container-fluid">
    <div class="align-items-start">
        <div class="card-body row">
            <div class="col col-4 list-group">
                <a class="rounded-4 btn list-group-item list-group-item-action list-group-item-primary" role="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-escopoDevSoft" aria-expanded="false"
                    aria-controls="flush-escopoDevSoft">
                    Desenvolvimento de Software
                </a>

                <a class="rounded-4 btn list-group-item list-group-item-action list-group-item-success" role="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-escopoPalestra" aria-expanded="false"
                    aria-controls="flush-escopoPalestra">
                    Palestra ao Vivo
                </a>

                <a class="rounded-4 btn list-group-item list-group-item-action list-group-item-warning" role="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-escopoMarket" aria-expanded="false"
                    aria-controls="flush-escopoMarket">
                    Estratégia de Marketing
                </a>

                <a class="rounded-4 btn list-group-item list-group-item-action list-group-item-danger" role="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-escopoAula" aria-expanded="false"
                    aria-controls="flush-escopoAula">
                    Apresentação em Sala de Aula
                </a>

                <a class="rounded-4 btn list-group-item list-group-item-action list-group-item-info" role="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-escopoStats" aria-expanded="false"
                    aria-controls="flush-escopoStats">
                    Análise Estatística
                </a>
            </div>
            <div class="col col-8 accordion accordion-flush" id="accordionEscopos">
                <div class="accordion-item">
                    <div id="flush-escopoDevSoft" class="accordion-collapse collapse"
                        data-bs-parent="#accordionEscopos">
                        <div class="accordion-body">
                            <h2 class="ps-lg-5 accordion-header text-primary">Título</h2>
                            <div class="card-body border border-secondary mt-1 ms-5 rounded-5 p-4">
                                <p class="card-text">
                                    @Html.Label(descDevSoft)
                                </p>
                                <div class="footer d-flex">
                                    <div class="ms-auto">
                                        <partial name="Projetos/Novo/_NovoCorpo"/>
                                        <button class="btn btn-success me-3" data-bs-toggle="modal"
                                            data-bs-target="#ModalNovoProjeto">Criar</button>
                                        <button class="btn btn-warning">Favoritar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="flush-escopoPalestra" class="accordion-collapse collapse"
                        data-bs-parent="#accordionEscopos">
                        <div class="accordion-body">
                            <h2 class="ps-lg-5 accordion-header text-success">Título</h2>
                            <div class="card-body border border-secondary mt-1 ms-5 rounded-5 p-4">
                                <p class="card-text">
                                    Placeholder content for this accordion, which is intended to demonstrate the
                                    <code>.accordion-flush</code> class. This is the first item's accordion body.
                                </p>
                                <div class="footer d-flex">
                                    <div class="ms-auto">
                                        <button disabled class="btn btn-success me-3">Criar</button>
                                        <button class="btn btn-warning">Favoritar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="flush-escopoMarket" class="accordion-collapse collapse" data-bs-parent="#accordionEscopos">
                        <div class="accordion-body">
                            <h2 class="ps-lg-5 accordion-header text-warning">Título</h2>
                            <div class="card-body border border-secondary mt-1 ms-5 rounded-5 p-4">
                                <p class="card-text">
                                    Placeholder content for this accordion, which is intended to demonstrate the
                                    <code>.accordion-flush</code> class. This is the first item's accordion body.
                                </p>
                                <div class="footer d-flex">
                                    <div class="ms-auto">
                                        <button disabled class="btn btn-success me-3">Criar</button>
                                        <button class="btn btn-warning">Favoritar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="flush-escopoAula" class="accordion-collapse collapse" data-bs-parent="#accordionEscopos">
                        <div class="accordion-body">
                            <h2 class="ps-lg-5 accordion-header text-danger">Título</h2>
                            <div class="card-body border border-secondary mt-1 ms-5 rounded-5 p-4">
                                <p class="card-text">
                                    Placeholder content for this accordion, which is intended to demonstrate the
                                    <code>.accordion-flush</code> class. This is the first item's accordion body.
                                </p>
                                <div class="footer d-flex">
                                    <div class="ms-auto">
                                        <button disabled class="btn btn-success me-3">Criar</button>
                                        <button class="btn btn-warning">Favoritar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="flush-escopoStats" class="accordion-collapse collapse" data-bs-parent="#accordionEscopos">
                        <div class="accordion-body">
                            <h2 class="ps-lg-5 accordion-header text-info">Título</h2>
                            <div class="card-body border border-secondary mt-1 ms-5 rounded-5 p-4">
                                <p class="card-text">
                                    Placeholder content for this accordion, which is intended to demonstrate the
                                    <code>.accordion-flush</code> class. This is the first item's accordion body.
                                </p>
                                <div class="footer d-flex">
                                    <div class="ms-auto">
                                        <button disabled class="btn btn-success me-3">Criar</button>
                                        <button class="btn btn-warning">Favoritar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>