<div class="card container-fluid">
    <div class="row align-items-start">
        <div class="col card-body col-3">
            <div class="list-group">
                <a class="btn list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>
                <a class="btn list-group-item list-group-item-action list-group-item-primary">A simple primary list group item</a>
                <a class="btn list-group-item list-group-item-action list-group-item-danger">A simple danger list group item</a>
                <a class="btn list-group-item list-group-item-action list-group-item-warning">A simple warning list group item</a>
                <a class="btn list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
            </div>
        </div>
        <div class="col card-body col-8">
            <div class="mt-1 ms-5">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>
</div>