<div class="container text-start">
    <div class="container text-start">
        <div class="row border border-secondary">
            <h3>Data de lançamento anunciada!</h3>
            <div class="row">
                <label class="ms-4 text-muted user-select-none">
                    web app estará disponível em no final do 2º semestre de
                    2024
                </label>
                <div class="col pt-2 pb-4 ms-5 col-9">
                    <label style="text-align: justify;">
                        Bom dia, visitantes! Espero que vossas expectativas sejam tão
                        grandes quanto as minhas. O desenvolvimento do Parapuãma está em andamento há poucos dias, mas
                        conforme o projeto avança, posso confirmar que caminhamos apra um site completo com muitas
                        funcionalidades a serem exploradas. Acompanhem as atualizações por aqui!
                    </label>
                </div>
                <div class="col col-2">
                    <label class="text-primary user-select-none">data do post:<br>25/05/2024</label>
                </div>
            </div>
        </div>
    </div>
</div>