<div class="container-fluid text-start m-1">
    <div class="row m-2">
        <div class="border border-1 border-primary rounded">
            <h3>Título da postagem!</h3>
                <label class="ms-4 text-muted user-select-none">
                    subtítulo do post de novidade
                </label>
                <div class="d-flex">
                <div class="col pt-2 pb-4 ms-5 col-7">
                    <label style="text-align: justify;">
                        ...
                    </label>
                </div>
                <div class="p-5"></div>
                <div class="col col-2">
                    <label class="text-primary user-select-none">data do post:<br>00/00/0000</label>
                </div>
                <div class="p-5"></div>
                <div class="col col-2">
                    <label class="text-primary user-select-none">autor:<br>Autor</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="border border-1 border-primary rounded">
            <h3>Insights de desenvolvimento!</h3>
            <label class="ms-4 text-muted user-select-none">
                novos estilos estão por vir
            </label>
            <div class="d-flex">
                <div class="col pt-2 pb-4 ms-5 col-7">
                    <label style="text-align: justify;">
                        Bom dia, exploradores! Gotaria de compartilhar algo sobre as ideias de design Primeiramente, bordas em azul e todo o tema remetendo a água está diretamente ligado ao título, mas isto está para mudar! Futuramente, amarelo e verde estão para chegar.
                    </label>
                </div>
                <div class="p-5"></div>
                <div class="col col-2">
                    <label class="text-primary user-select-none">data do post:<br>27/05/2024</label>
                </div>
                <div class="p-5"></div>
                <div class="col col-2">
                    <label class="text-primary user-select-none">autor:<br>Trevojan</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="border border-1 border-primary rounded">
            <h3>Data de lançamento anunciada!</h3>
            <label class="ms-4 text-muted user-select-none">
                web app estará disponível no final do 2º semestre de 2024
            </label>
            <div class="d-flex">
                <div class="col pt-2 pb-4 ms-5 col-7">
                    <label style="text-align: justify;">
                        Bom dia, visitantes! Espero que vossas expectativas sejam tão
                        grandes quanto as minhas. O desenvolvimento do Parapuãma está em andamento há poucos dias, mas
                        conforme o projeto avança, posso confirmar que caminhamos apra um site completo com muitas
                        funcionalidades a serem exploradas. Acompanhem as atualizações por aqui!
                    </label>
                </div>
                <div class="p-5"></div>
                <div class="col col-2">
                    <label class="text-primary user-select-none">data do post:<br>25/05/2024</label>
                </div>
            <div class="p-5"></div>
            <div class="col col-2">
                <label class="text-primary user-select-none">autor:<br>Trevojan</label>
            </div>
            </div>
        </div>
    </div>
    </div>