<div class="tab-content">
    <div class="tab-pane active" id="novidades" role="tabpanel" aria-labelledby="novidades-tab">
        home
    </div>
    <div class="tab-pane" id="esquemas" role="tabpanel" aria-labelledby="esquemas-tab">
        profile
    </div>
    <div class="tab-pane" id="temas" role="tabpanel" aria-labelledby="temas-tab">
        temas
    </div>
</div>