<div class="text-center">
    <h1 class="display-4">
        <span class="text-success">Siga</span> <span class="text-warning">o fluxo</span> <span class="text-success">de sua</span> <span class="text-warning">equipe.</span>
    </h1>
    <p>Onde suas ideias se organizam em tempo-real.</p>
    <p>Confira os escopos novos a cada atualização.</p>
    <p>Migre projetos de sua equipe com facilidade.</p>
</div>