<div class="tab-pane border border-0" id="docs" role="tabpanel" style="height: 650px; overflow-y: scroll; overflow-x: hidden;">
    <div class="m-2">
        <div class="card text-start">
            <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Detalhe Téc.</th>
                                        <th scope="col">Descrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                     -->
                                </tbody>
                            </table>
                        </div>
                        <div class="ms-5 col col-5">
                            <div class="card text-start">
                                <div class="card-body" style="height: 350px;">
                                    <h1 class="mb-2 fs-5 card-title">
                                        Ferramenta: @{ } <i class="bi bi-dash"></i> Categoria: @{ }
                                    </h1>
                                    <p class="card-text">Selecione alguma ideia da tabela.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>