<div class="tab-pane border border-0" id="tools" role="tabpanel" style="height: 650px; overflow-y: scroll; overflow-x: hidden;">
    <div class="m-2">
        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Uso</th>
                                    <th scope="col">Função</th>
                                    <th scope="col">Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                             -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>