<div class="col-11 position-absolute bottom-0 d-flex flex-column text-center">
    <div class="bg-primary hover-item">
        <a class="text-white link-underline link-underline-opacity-0" asp-page="../Portfolio/portfolio">
            voltar ao menu</a>
    </div>
    <div class="bg-primary hover-item">
        <a class="text-white link-underline link-underline-opacity-0" data-bs-toggle="modal"
        data-bs-target="#ModalFimProjeto" href="#">
            fechar projeto</a>
    </div>
    <div class="bg-primary hover-item">
        <partial name="Sair/_ModalSair">
            <a class="text-white link-underline link-underline-opacity-0" data-bs-toggle="modal"
                data-bs-target="#ModalSair" href="#">
                sair da conta</a>
    </div>
    <div class="bg-primary hover-item">
        <a disabled class="text-white link-underline link-underline-opacity-0" href="#">
            nos dê seu feedback!</a>
    </div>
</div>