<div class="d-flex flex-column text-center position-sticky">
    <div class="bg-primary hover-item">
        <a class="text-white link-underline link-underline-opacity-0" asp-area="" asp-page="/portfolio">
            voltar ao menu</a>
    </div>
    <div class="bg-primary hover-item">
        <a class="text-white link-underline link-underline-opacity-0" data-bs-toggle="modal"
        data-bs-target="#ModalFimProjeto">
            fechar projeto</a>
    </div>
    <div class="bg-primary hover-item">
        <partial name="Sair/_ModalSair">
            <a class="text-white link-underline link-underline-opacity-0" data-bs-toggle="modal"
                data-bs-target="#ModalSair" asp-area="" asp-page="/inicio">
                sair da conta</a>
    </div>
    <div class="bg-primary hover-item">
        <a disabled class="text-white link-underline link-underline-opacity-0" href="#">
            nos dê seu feedback!</a>
    </div>
</div>