<div class="card text-start">
    <div class="card-body">
        <div class="col">
            <button class="btn btn-primary col-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseQuadrosParticipantes" aria-expanded="false"
                    aria-controls="collapseQuadrosParticipantes">
                Participantes
            </button>
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#ModalNovoParticipante">
                <i class="bi bi-plus"></i>
            </button>
            <div class="collapse" id="collapseQuadrosParticipantes">
                <div class="col col-3 card card-body">
                    <div role="group">
                        <!--<div class="row">
                                <p>
                                    <input type="radio" class="btn-check" name="radQuadrosParticipantes" id="btncheck1" autocomplete="off" />
                                    <label class="btn btn-outline-primary border border-0 overflow-hidden"
                                    for="btncheck1"></label>
                                    <button type="button" class="btn btn-danger"><i class="bi bi-dash"></i></button>
                                    <button type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i></button>
                                </p>
                                </div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="col mt-2">
            <button class="btn btn-primary col-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseQuadrosTarefas" aria-expanded="false"
                    aria-controls="collapseQuadrosTarefas">
                Tarefas
            </button>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalNovaTarefa">
                <i class="bi bi-plus"></i>
            </button>
            <div class="collapse" id="collapseQuadrosTarefas">
                <div class="col col-3 card card-body">
                    <div role="group">
                        <!--<div class="row">
                        <p>
                            <input type="radio" class="btn-check" name="radQuadrosTarefas" id="btncheck1" autocomplete="off" />
                            <label class="btn btn-outline-primary border border-0 overflow-hidden"
                            for="btncheck1"></label>
                            <button type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i></button>
                            <button type="button" class="btn btn-danger"><i class="bi bi-dash"></i></button>
                        </p>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>