@page "/projetos"
@model WebApp.Models.ModelProjetos
@{

}
<div class="container-fluid">
    <partial name="../Projetos/Conteudo/_NavProjetos" />
    <div class="row">
        <div class="col col-sm-1 d-flex flex-column">
            <partial name="../Projetos/Conteudo/_ProjetoOpcoes" />
            <div class="my-3"></div>
            <partial name="../Projetos/Conteudo/_ProjetoUsuario" />
        </div>
        <div class="col mt-3 tab-content">
            <partial name="../Projetos/_Backlog" />
            <partial name="../Projetos/_Ferramentas" />
            <partial name="../Projetos/_Entrevistas" />
            <partial name="../Projetos/_Documentacao" />
        </div>
    </div>
</div>