@page "/projetos/{id}/{proj}"
@model WebApp.Models.ModelProjetos
@{
    ViewData["Title"] = "Projeto";

    Database.Gather g = new();
    var go = g.ForwardOnline(Model.Id);
}

<script src="~/js/site.js"></script>
<script>
    var go = String("@go").toLowerCase();
    logOn(go);
</script>

<div class="container-fluid">
    <partial name="../Projetos/Conteudo/_NavProjetos" />
    <div class="row">
        <div class="col col-sm-1 d-flex flex-column">
            <partial name="../Projetos/Conteudo/_ProjetoOpcoes" />
            <div class="my-3"></div>
            <partial name="../Projetos/Conteudo/_ProjetoUsuario" />
        </div>
        <div class="col mt-3 tab-content">
            <partial name="../Projetos/_Backlog" />
            <partial name="../Projetos/_Ferramentas" />
            <partial name="../Projetos/_Entrevistas" />
            <partial name="../Projetos/_Documentacao" />
        </div>
    </div>
</div>