@page "/projetos"
@model WebApp.Models.ModelProjetos
@{

 }
 <div class="container-fluid">


<partial name="../Projetos/Conteudo/_ProjetoOpcoes" />
<partial name="../Projetos/Conteudo/_ProjetoUsuario" />
<partial name="../Projetos/_Quadro" />
<partial name="../Projetos/_Grupos" />
<partial name="../Projetos/_Idealizacao" />
<partial name="../Projetos/_Objetivos" />
<partial name="../Projetos/_Ferramentas" />

</div>