<div class="modal" id="ModalCriar">
    <div class="modal-dialog">
        <div class="modal-content m-1 border border-2 border-primary">
            <div class="card-body m-3 text-center">
                <h3 id="idCardCriar" class="card-title pt-2" aria-describedby="idSubCriar">Novo cargo</h3>
                <small id="idSubCriar" class="pt-2 text-muted">Para adicionar um cargo, insira um nome e uma cor</small>
                <input class="form-control" type="text">
                <div class="card-body d-flex justify-content-center pt-4">
                    <button type="submit" class="btn btn-success me-5 col-4" data-bs-dismiss="modal">Confirmar</button>
                    <button type="button" class="btn btn-secondary col-4" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>