<div class="modal" id="ModalEditarCargo">
    <div class="modal-dialog col-6 h-75">
        <div class="modal-content m-1 border border-2 border-primary">
            <div class="card-body m-3 text-center">
                <h3 id="idCardEditarCargo" class="card-title pt-2" aria-describedby="idSubEditarCargo">Editando @c</h3>
                <small id="idSubEditarCargo" class="pt-2 text-muted">Insira os novos dados e confirme as
                    alterações</small>
                <div class="card-body flex pt-4">
                    <input type="text" id="idEditarCargo" required placeholder="Novo nome">
                    <div class="m-3">
                        <span>Selecione a cor: </span>
                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="check1" autocomplete="off" />
                            <label class="pt-3 btn btn-outline-warning" for="checkcolor1"> </label>
                            <input type="radio" class="btn-check" name="btnradio" id="checkcolor2" autocomplete="off" />
                            <label class="btn btn-outline-primary" for="checkcolor2"> </label>
                            <input type="radio" class="btn-check" name="btnradio" id="checkcolor3" autocomplete="off" />
                            <label class="btn btn-outline-info" for="checkcolor3"> </label>
                            <input type="radio" class="btn-check" name="btnradio" id="checkcolor4" autocomplete="off" />
                            <label class="btn btn-outline-secondary" for="checkcolor4"> </label>
                            <input type="radio" class="btn-check" name="btnradio" id="checkcolor5" autocomplete="off" />
                            <label class="btn btn-outline-dark" for="checkcolor5"> </label>
                            <input type="radio" class="btn-check" name="btnradio" id="checkcolor6" autocomplete="off" />
                            <label class="btn btn-outline-success" for="checkcolor6"> </label>
                            <input type="radio" class="btn-check" name="btnradio" id="checkcolor7" autocomplete="off" />
                            <label class="btn btn-outline-danger" for="checkcolor7"> </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary me-5 col-4" data-bs-dismiss="modal">Confirmar</button>
                <button type="button" class="btn btn-secondary col-4" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>