<div class="modal" id="ModalNovoProjeto">
    <div class="modal-dialog">
        <div class="modal-content m-1 border border-2 border-primary">
            <div class="card-body m-3 text-center">
                

                <button type="submit" class="btn btn-primary me-5 col-4" data-bs-dismiss="modal">Continuar</button>
                <button type="button" class="btn btn-secondary col-4" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>