<div class="modal fade" id="ModalNovaTarefa">
    <div class="modal-dialog">
        <div class="modal-content m-1">
            <div class="card-body m-3 text-center">
                <h3 id="idCardNovaTarefa" class="card-title pt-2" aria-describedby="idSubNovaTarefa">
                    Nova Tarefa
                </h3>
                <small id="idSubNovaTarefa" class="pt-2 text-muted">
                    Insira as informações para adicionar a tarefa ao
                    quadro.
                </small>
                <div class="card-body d-flex justify-content-center pt-4">
                    <button type="submit" class="btn btn-primary me-5 col-4"
                            data-bs-dismiss="modal">
                        Confirmar
                    </button>
                    <button type="button" class="btn btn-secondary col-4" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>