<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Inicio">
                
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-outline-primary ms-2 me-2" asp-area="" asp-page="/sobre">Sobre</a>
                </li>
                <li class="d-none">
                    <a class="btn btn-outline-primary ms-2 me-2" asp-area="" asp-page="/projetos">Meus projetos</a>
                </li>
                <li class="d-none">
                    <a class="btn btn-outline-primary ms-2 me-2" asp-area="" asp-page="/conta">Conta</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary ms-2 me-2" data-bs-toggle="modal" data-bs-target="#ModalSair" asp-area="" asp-page="">Sair</a>
                </li>
                <partial name="Sair/_ModalSair" />
                <li class="">
                    <a class="btn btn-outline-primary ms-2 me-2" asp-area="" asp-page="/login">Login</a>
                </li>
            </div>
        </div>
    </nav>
</header>