<div class="accordion" id="accordionPrazos">
    <div class="accordion-item">
        <div class="p-1 accordion-header text-bg-primary hover-item" id="headingPrazos">
            <div class="d-flex m-2">
                <span class="pt-1 flex-fill lead text-white">Prazos</span>
                <button class="btn btn-success me-1" style="width: 40px;height: 40px;" data-bs-toggle="modal"
                    data-bs-target="#ModalNovoPrazo"><strong>+</strong></button>
                <button class="btn btn-warning me-0" style="width: 40px;height: 40px;" data-bs-toggle="modal"
                    data-bs-target="#ModalNovoPrazo"><strong>!</strong></button>
                <button class="btn btn-danger me-0" style="width: 40px;height: 40px;" data-bs-toggle="modal"
                    data-bs-target="#ModalNovoPrazo"><strong>X</strong></button>
                <button class="btn text-white border border-1 me-0 font-monospace" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapsePrazos" aria-expanded="false"
                    aria-controls="collapsePrazos">
                    I
                </button>
            </div>
        </div>
        <div id="collapsePrazos" class="accordion-collapse collapse show" aria-labelledby="headingPrazos"
            data-bs-parent="#accordionPrazos">
            <div class="accordion-body">
                
            </div>
        </div>
    </div>
</div>