@page "/"
@model InicioModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="row justify-content-center align-items-center g-2">
    <div class="col col-3">
        <partial name="Inicio/_InicioLogo" />
    </div>
    <div class="col col-9">
        <partial name="Inicio/_InicioBemVindo" />
    </div>
</div>

<!-- <partial name="Inicio/_InicioTitulo" />-->

<partial name="Inicio/Abas/_AbasInicio" />
