@page "/sobre"
@model SobreModel
@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Situação de Aprendizagem da turma PSII/2023 para o 2º semestre,
    onde foram abordadas as unidades curriculares “criação e modelagem
    de banco de dados” e “desenvolvimento de sistemas”.</p>
