<div class="tab-pane border border-0" id="lista" role="tabpanel" style="height: 650px; overflow-y: scroll; overflow-x: hidden;">
    <div class="d-flex flex-row">
        <div class="col col-6">
            lista
            <!--
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>

                </tbody>
            </table>-->
        </div>
    </div>
</div>