    <div class="tab-pane border border-0" id="objetivos" role="tabpanel" style="height: 650px; overflow-y: scroll; overflow-x: hidden;">
        <div class="d-flex flex-row">
            <div class="col col-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!--
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
         -->
                    </tbody>
                </table>
            </div>
            <div class="ms-5 col col-5">
                <div class="card text-start">
                    <div class="card-body" style="height: 350px;">
                        <h1 class="mb-2 fs-5 card-title">
                            Objetivo Nº0 <i class="bi bi-dash"></i> Estado:
                            nenhum
                        </h1>
                        <p class="card-text">Selecione algum objetivo da tabela.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>